/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/build/compile
/build/config.guess
/build/config.sub
/build/depcomp
/build/install-sh
/build/missing
/config.h
/config.h.in
/config.log
/config.status
/configure
/src/Makefile
/src/Makefile.in
/src/vkrunner
/stamp-h1
*.o
.deps
